@media (max-width: 1250px) {
    .main-header > ul > li {
      width: 100px;
      font-size: 14px;
    }
    
  }
  
@media (max-width: 750px) {
    .navigation-menu {
      display: block;
    }

    .grid-item {
      width: 100%;
  }

    .navigation-menu > li  {
      display: inline-block;
      width: 200px;
      text-align: center;
      font-size: 16px;
      padding: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 5px;
    }

    .main-title {
      font-size: 42px;
      line-height: 2;
    }

    .booking-input {
      width: calc(100% - 36px);
      margin-top: 10px ;
      margin-right: 0;
    }

    .menu-checkbox:checked ~ .navigation-menu {
      display: block;
    }
    
    .menu-checkbox {
      display: none;
    }
    
    .navigation-menu {
      display: none;
    }
}

@media (max-width: 650px) {
  .menu-icon-mobile {
    display: block;
  }

  .navigation-menu {
    display: none;
  }
}
